body {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}
Introduction {
    background-color: aqua;
    margin-bottom: 20px;
}
Skills {
border: 1px solid #ccc;    
padding: 10px;
margin-bottom: 5px;
}
Contact information {
background-color: #333;
padding: 20px;
color: beige;
}
@media screen and (max-width: 600px) {
    section {
     margin: 10px;  
     padding: 10px;  
    } 
}